body {
  background-color: black;
}
.container {
  color: aqua;

  text-align: center;
  transform: translateY(200px);
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
}

small {
  font-size: 40px;
}
